<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{- if .IsHome }}
  <meta name="description" content="{{ .Site.Params.Description }}">
  {{- else if .Description }}
  <meta name="description" content="{{ .Description }}">
  {{- end }}

  <title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Title }} &middot; {{ .Site.Title }}{{- end }}</title>

  <!-- CSS -->
  {{- $inServerMode := .Site.IsServer }}
  {{- $cssTarget := "css/style.css" }}
  {{- $cssOptions := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath"
  $cssTarget "outputStyle" "compressed") }}
  {{- $style := resources.Get "scss/tale.scss" | toCSS $cssOptions }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
  {{ range .Site.Params.css -}}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{ end -}}

  <link rel="stylesheet" href="{{ "/org.css" }}">
  <script src="/org.js"></script>

  <!-- favicon -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%221em%22 font-size=%22100%22 color=%22red%22>λ</text></svg>">

  <!-- awesome font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <!-- RSS -->
  <link href="{{ with .OutputFormats.Get " RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate"
    type="application/rss+xml" title="{{ .Site.Title }}" />

  <script src="/js/darkmode.js"></script>
</head>