.catalogue {
  &-item {
    // border-bottom: 1px solid var(--grey-2);
    color: var(--default-color);
    display: block;
    padding: 10px 0;

    // &:last-child {
    //   border: 0;
    // }

    & p {
        margin: 0;
    }
  }

  &-time {
    color: var(--default-tint);
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: nnvar(--default-shade);
    display: block;
    font-family: $sans-serif;
    font-size: 1.2rem;
    margin: 0;
    // font-family: 'Gloria Hallelujah', cursive;
    // font-weight: normal
  }
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}